<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Compiler</title>
    <link rel="icon" href="/static/images/logo.webp" />
    <link rel="stylesheet" href="/static/cs/javascript.css" />
    <link rel="stylesheet" href="/static/responsive/js.css" />
  </head>
  <body>
    <nav>
      <h1>codechamp</h1>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="">about</a></li>
        <li><a href="">contact</a></li>
      </ul>
    </nav>
    <div class="conatiner">
      <div class="head">
        <h2>JavaScript Compiler</h2>
        <button id="run">Run Code</button>
      </div>
      <div class="content">
        <textarea id="code" placeholder="//Enter Your JavaScript code Here">
console.log("codechamp is best Compiler");
        </textarea>
        <div id="output"></div>
      </div>
    </div>
    <script src="/static/js/javascript.js"></script>
  </body>
</html>
